.home_page{
    box-sizing: border-box;
    width:100%;
    height: calc(100vh - 60px);
    background-color: rgb(241, 240, 240);
    padding: 20px;
}
.home_page_container{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.charts_container{
    border-radius: 10px;
    background: #ffff;
    margin: 0 auto;
}
.charts_right{
    margin-top: 100px;
    float: right;
    margin-right: 100px;
    width: 30%;
    height: 300px;
}
.charts_container .charts {
    float: left;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.data_number{
    height: 80px;
    width: 100%;
    line-height: 80px;
}
.data_number span{
    font-size: 40px;
    font-weight: 800;
}
.data_number .item{
    display: inline-block;
    height: 50px;
    margin-left: 50px;
    font-weight:600;
    font-style: italic;
    color: rgb(49, 104, 221);
}
