.workspace{
    width: 100%;
    margin-top: 40px;

}
.workspace_header{
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.workspace_header .title{
    margin-left: 20px;
    line-height: 40px;
    padding: 4px;
    font-weight: 600;
}